<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionAndLoops from "./components/ConditionAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent></SimpleComponent><br /><br />
    <FormBindings></FormBindings><br /><br />
    <ConditionAndLoops></ConditionAndLoops>
    <AttributeBindings></AttributeBindings>
    <HandlingUserInput></HandlingUserInput>
    <CalComponent></CalComponent>
    <HelloWorldExample></HelloWorldExample>
  </div>
</template>

<style scoped></style>
